@charset "utf-8";

/* cssリセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #3a3937;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  font-size: 15px;
  letter-spacing: 0.12em;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
